NY.Framework.Commons/bin/
NY.Framework.Commons/obj/
NY.Framework.Model/bin/
NY.Framework.Model/obj/
NY.Framework.Data/bin/
NY.Framework.Data/obj/
NY.Framework.Application/bin/
NY.Framework.Application/obj/
Web/bin/
Web/obj/
DXCWeb/bin/
DXCWeb/obj/
*.user
*.suo
*.vs
Web/Properties/PublishProfiles/FolderProfile.pubxml
DIS.web/bin/Debug/net8.0/DIS.DataAccess.dll
DIS.web/bin/Debug/net8.0/DIS.DataAccess.dll
DIS.web/bin/Debug/net8.0/DIS.DataAccess.pdb
DIS.web/bin/Debug/net8.0/DIS.Infrastruture.dll
DIS.web/bin/Debug/net8.0/DIS.Infrastruture.pdb
DIS.web/bin/Debug/net8.0/DIS.Web.dll
DIS.web/bin/Debug/net8.0/DIS.Web.exe
DIS.web/bin/Debug/net8.0/DIS.Web.pdb
