DIS.Framework.Commons/bin/
DIS.Framework.Commons/obj/
DIS.Framework.Model/bin/
DIS.Framework.Model/obj/
DIS.Framework.Data/bin/
DIS.Framework.Data/obj/
DIS.Framework.Application/bin/
DIS.Framework.Application/obj/
Web/bin/
Web/obj/
DXCWeb/bin/
DXCWeb/obj/
*.user
*.suo
*.vs
Web/Properties/PublishProfiles/FolderProfile.pubxml
